
/* Mobile first se aplican los estilos primero a dispositivos moviles*/



body {
    font-size: 12px;
    background-color: #1c2742;
  }

  
.box{
    width: 100px;
    height: 100px;
    background-color: blue;
   
   }
   
  
  h1 {
    color: white;
    position: relative;
    top: 180px;
    text-align: center;
  }


    /* El ancho del navegador supera 768 escritorio*/
  @media(min-width: 768px) {
    body {
      font-size: 16px;
      background-color: black;
    }
  
    h1 {
      color: yellow;
      position: relative;
      top: 180px;
      text-align: center;
    }
    .box{
        width: 200px;
        height: 200px;
        background-color: green;
       
       }
  }
  
      /* El ancho del navegador supera 992 escritorio*/

  @media(min-width: 992px) {
    body {
      font-size: 20px;
      background-color: white;
    }
  
    h1 {
      color: #ff7a59;
      position: relative;
      top: 180px;
      text-align: center;
    }

    .box{
        width: 200px;
        height: 200px;
        background-color: green;
       
       }

  }
       /* El ancho del navegador supera 1200 escritorio*/ 
  @media(min-width: 1200px) {
    body {
      font-size: 24px;
      background-color: black;
    }
  
    h1 {
      color: pink;
      position: relative;
      top: 180px;
      text-align: center;
    }

    .box{
        width: 200px;
        height: 200px;
        background-color: green;
       
       }
  }
