nav {
    background-color: #dcdcdc;
    width: 100vw;
    height: 50px;
    position: absolute ;
    left: 0px;
    top: 0px;
    right: 0px;
  }

  
  
  .lista-horizontal {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-right: 40px;
    list-style: none;
  }

  .lista-horizontal a:link  {
    color: #3c3c3c;;
  }
  
  .lista-horizontal a:visited {
    color: #3c3c3c;;
  }
  
  .lista-horizontal li {
    padding-right: 20px ;
  }
  
  .contedor-principal {
    background: linear-gradient(to bottom right, rgba(225,35,9,0.77) 30%, rgba(255,224,19,0.7));
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    right: 0px;
    margin-top: 50px;
    font-size: 25px;  
  }
  
  .title-container{
    display: flex;
    justify-content: center;
  }
  
  #titulo-principal {
    position: relative;
    top: 300px;
    color: #dcdcdc;
  }
  
  .boton-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px;
  }
  
  #boton-principal {
    font-size: 18px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
  }
  
  .contenedor-secundario{
    background-color: #dcdcdc;
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .contenedor-secundario ul {
    margin-top: 20px;
  }
  
  #icono-whatsapp img {
    position: fixed;
    right: 20px;
    width: 60px;
    height: 60px;
    bottom: 200px;
  }