.primer-contenedor {
    width: 100%;
    height: 50px;
    background-color: #2f2f2f;
  } 
  
  .segundo-contenedor {
    width: 100%;
    height: 1000px;
    background-image: url("./imagen1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .tercer-contenedor {
    width: 100%;
    height: 400px;
    background-color: #1c2742;
    background-image: url("./imagen2.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: rgb(243, 26, 26);
    text-align: center;
  }


  .cabeza {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: cadetblue;
    box-shadow: 10px 10px 20px 10px grey;
  }
  
  .ojo {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    position: absolute;
    top:100px;
    right: 0px;
  }
  
  .pupila {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top:30px;
    right: 0px;
  }
  
  .boca {
    width: 143px;
    height: 20px;
    background-color: pink;
    position: absolute;
    top: 300px;
    right: 0px;
  }
  
  .cuerpo {
    width: 300px;
    height: 500px;
    position: relative;
    background-color: black;
    box-shadow: 10px 10px 20px 10px grey;
  }
  
  .mano {
    width: 200px;
    height: 50px;
    position: relative;
    background-color: red;
    top: 200px;
    left: 200px;
    box-shadow: 10px 10px 20px 10px grey;
  }
  
  .mensaje{
    width: 400px;
    height: 100px;
    padding-bottom: 20px;
    position: fixed;
    border: 2px dashed blue;
    top: 300px;
    left: 600px;
    text-align: center;
    box-shadow: 5px 10px 20px 20px grey;
  text-shadow: 2px 2px 30px red;
  }

  .sol {
    width: 100px;
    height: 100px;
    background: radial-gradient(red, yellow );
    border-radius: 200px;
    position: fixed;
    top: 10px;
    right: 100px;
  }
  
  .mar {
    width: 100%;
    height: 800px;
    background: linear-gradient(white , blue );
    position: relative;
    bottom: 100px;
  }

  .primer-contenedor {
    width: 100%;
    height: 250px;
    background-color: #1c2742;
    color: white;
  }
  
  #titular {
    text-align: center;
    position: relative;
    top: 100px;
  }
  
  h1 , h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .productos {
    width: 100%;
    height: 200px;
    background-color: #1c2742;
  }
  
  .productos > div {
    position: relative;
    top: 55px;
  }
  
  .productos p {
    color: white;
    text-align: center;
    position: relative;
  }
  
  a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: blueviolet;
  }

  .box-shadow{
    width: 500px;
    height: 500px;
    background-color: royalblue;
    /*background-image: linear-gradient(to left,blue 10%,yellow 20%,green);*/
    background-image: radial-gradient(at 20px 20px,blue ,yellow ,green);
    box-shadow: 5px 5px 10px 15px #333;

  }

  .text{
     color: seashell;
     text-shadow: 3px 2px 3px red;

  }